.editor-title {
  color: #1A3E6F; }

.cke_top {
  border: none !important; }

.cke_toolbox {
  display: none; }

.cke_editable {
  background-color: #EBEFF5; }

.cke_floatingtools {
  background-color: #2E64AF !important; }

.cke_bottom {
  display: none !important; }
