.Posts {
  max-height: calc(100vh - 13rem);
  overflow: auto; }

.research-head-title {
  color: #1A3E6F;
  opacity: 0.7; }

#imaginary_container {
  margin-top: 20%;
  /* Don't copy this */ }

.stylish-input-group .input-group-addon {
  background: white !important; }

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc; }

.stylish-input-group button {
  border: 0;
  background: transparent; }

.form-control.search-input {
  background-color: #fff; }
