.template-section-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4; }

.template-box {
  margin-right: 50px;
  margin-bottom: 15px;
  height: 50px;
  padding: 5px 20px 0 10px; }
  .template-box.drafts {
    background-color: #fef1de;
    color: #cfb583;
    border-left: 2px solid #e3b769; }
  .template-box.all-templates {
    background-color: #ebeef5;
    color: #7592ba;
    border-left: 2px solid #3463a2; }

.template-title {
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 2px; }
