.template-section-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
}

.template-box {
  margin-right: 50px;
  margin-bottom: 15px;
  height: 50px;
  padding: 5px 20px 0 10px;
  width: 200px;
  &.drafts {
    background-color: #fef1de;
    color: #cfb583;
    border-left: 2px solid #e3b769;
  }
  &.all-templates {
    background-color: #ebeef5;
    color: #7592ba;
    border-left: 2px solid #3463a2;
  }
  &.my-templates {
    background-color: #dff5fd;
    border-left: 2px solid #40b1d5;
    color: #577ea4;
  }
}

.template-title {
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 2px;
}

.extra-templates {
  padding-left: 0px;
}

.close-circle {
  color: #fe6478;
  position:absolute;
  margin-left: 175px;
  margin-top: -10px;
}
