.App {
  background-color: #e6e6e5;
  font-family: 'Roboto', sans-serif; }

.auto-save-text {
  text-align: right;
  margin-right: 200px;
  font-size: 10px; }

.initial-recent-section {
  display: none !important;
}