.Post{  
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #C8C8C8;
    cursor: pointer;
    & h1 {
        color: #2E64AF;
    }
    &:hover, :focus, :active {
        background-color: #FFF;
    }
    &:nth-last-child(1) {
        border-bottom: 1px solid transparent;
    }
}

.display-date {
    font-weight: lighter;
    font-size: 11px;
    color: #646464
}

.research-author {
    color: #646464;
    font-size: 11px;
    text-transform: uppercase;
}

.research-title {
    font-size: 16px;
    color: #2E64AF;
}

.research-body {
    font-size: 14px;
    color: #646464;
}

.add-n-cross{
    padding: 6px 6px;
    background-color: #1A3E6F;
    color: #fff;
    border-radius: 100%;
    font-size: 13px;
    line-height: 0.4rem;
    -webkit-transition: 0.3s ease-out;
    -moz-transition:  0.3s ease-out;
    transition:  0.3s ease-out;
    &:hover {
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
    }
}

.fa-times-circle {
    -webkit-transition: 0.3s ease-out;
    -moz-transition:  0.3s ease-out;
    transition:  0.3s ease-out; 
    &:hover{
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }
}