.summary {
  margin-top: 10px;
  background-color: white; }

.section-title {
  font-size: 14px; }

.section-description {
  color: #1A3E6F;
  opacity: 0.5;
  font-size: 12px; }

.summary-text {
  width: 100%;
  height: 130px; }
