.template-section {
  margin-top: 50px;
  background-color: white;
  padding: 20px 0 20px 40px; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

.expand-chevron {
  text-align: center;
  height: 10px;
  margin-bottom: 10px; }

.template-columns {
  padding-left: 0px; }

.template-section-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4; }
