.navigation-bar.navbar.navbar-default {
  background-color: #2E64AF;
  height: 40px; }

.navbar-brand.nav-img {
  background-color: #7c7a7a;
  height: 0px;
  padding: 15px;
  margin-top: 10px; }

.template-articles {
  padding: 15px; }

.template-image {
  background-color: #e4e4e4;
  height: 50px;
  width: 50px;
  border: .5px solid #d0d0d0; }

.template-title {
  color: #4da4ee;
  font-size: 10px;
  height: 40px; }

.template-date {
  font-size: 8px; }

.template-container {
  width: 240px; }

.item {
  width: 50px;
  height: 50px;
  background-color: #072866;
  border-radius: 3px;
  margin: 5px;
  padding: 5px; }

.item-container {
  display: inline-block;
  width: auto; }
