.App {
  /* background-color: #e6e6e5; */
  font-family: 'Roboto', sans-serif; }
  
body{
  overflow: hidden;
  font-family: 'Interstate-Light', Helvetica, Arial;
  color:#1A3E6F;
  font-size: 0.8rem;
  background-color: #EEEFF0;
}

.logo {
  margin-top: -7px;
}
.auto-save-text {
  text-align: right;
  margin-right: 200px;
  font-size: 10px; }

.navigation-bar.navbar.navbar-default {
  background-color: #2E64AF;
  height: 40px; }


.navbar-brand.nav-img {
  background-color: #7c7a7a;
  height: 0px;
  padding: 15px;
  margin-top: 10px; }

.template-articles {
  padding: 15px; }

.template-image {
  background-color: #e4e4e4;
  height: 50px;
  width: 50px;
  border: .5px solid #d0d0d0; }

/*.dropdown-menu {
  width: 300px; }
*/
.template-title {
  color: #4da4ee;
  font-size: 10px;
  height: 40px; }

.template-date {
  font-size: 8px; }

.col-xs-12.composition-header {
  height: 40px;
  margin-bottom: 10px;
  background-color: #2f64af;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  padding-left: 0px; }

.col-xs-1.logo {
  background-color: #1A3E6F;
  height: 40px; }

.composition-title {
  padding: 10px 0 0 5px; }

.content {
  border-left: 1px solid #D8D8D8;
  padding: 10px;
  background-color: #EBEFF5;
  margin: 50px 0 100px 0; }

.plus-circle {
  width: 25px;
  position: absolute;
  margin-left: -55px;
  margin-top: 50px; }

.editor-title {
  color: #1A3E6F; }

.cke_top {
  border: none !important; }

.cke_toolbox {
  display: none; }

.cke_editable {
  background-color: #EBEFF5; }

.cke_floatingtools {
  background-color: #2E64AF !important; }

.cke_bottom {
  display: none !important; }

.citi-logo {
  width: 200px;
  margin-left: -5px; }

.tags {
  margin-top: 100px; }

.signature {
  border-top: 1px solid #D8D8D8;
  margin-top: 10px;
  padding-top: 25px; }
  .signature p, .signature a {
    font-size: 10px; }

.research-title {
  color: #1A3E6F;
  opacity: 0.7; }

#imaginary_container {
  margin-top: 20%;
  /* Don't copy this */ }

.stylish-input-group .input-group-addon {
  background: white !important; }

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc; }

.stylish-input-group button {
  border: 0;
  background: transparent; }
